@page "/access-denied"

<PageTitle>Access denied</PageTitle>

<div class="row">
	<div class="col-12">
		<div class="card">
			<div class="card-body flex-column">
				<div class="text-center mt-2">
					<span class="text-danger fw-bolder">No tiene permiso para acceder a esta página</span>
				</div>
			</div>
		</div>
	</div>
</div>

@code {

}
