@page "/"

<PageTitle>Home</PageTitle>

<div class="row">
	<div class="col-12">
		<h2 class="fw-bolder">Bienvenido a Películas para Todos!</h2>
	</div>
	<div class="col-12">
		<div class="card">
			<div class="card-body">
				<AuthorizeView>
					<NotAuthorized>
						<span>No ha iniciado sesión. Para ver películas, por favor haga <a class="fw-bolder" href="/login">click aquí</a> para iniciar sesión.</span>
					</NotAuthorized>
					<Authorized>
						<span>Ha iniciado sesión como <b>@context.User.Identity.Name</b>. Haga <a class="fw-bolder" href="/logout">click aquí</a> para cerrar sesión.</span>
					</Authorized>
				</AuthorizeView>
			</div>
		</div>
	</div>
</div>
